@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-busDark text-slate-100 font-sans selection:bg-cyan-500 selection:text-black;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Custom scrollbar for dark bus cockpit display */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0B132B;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06B6D4;
}
